<h1>רשימת ההזמנות שלי</h1>

<table>
  <tr>
    <th>מוצר ראשי</th>
    <th>תאריך</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.products.first.name %></td>
    <td><%= order.date %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'הזמנה חדשה', new_order_path %>
