<%- model_class = Product.new.class -%>
<div class="page-header">
  <h2>מוצרים:</h2>
</div>

<div class="page-header">
  <h4>חיפוש מוצר:</h4>
  <%= form_tag search_products_path, :method => :get do |f| %>
    <div class="field">
      שם: <%= text_field :product, :name %>
    </div>
  <% end %>
</div>

<div dir="ltr">
  <%= paginate @products %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th>more...</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <% for product in @products %>
      <tr>
        <td><%= link_to h(product.name), product %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= image_tag 'carousel-02-1469a00ede72cd4fd93ffe908b73b8b9.jpg', :style => 'width: 160px; height: auto' %>
        </td>
        <td>
          Num.Likes: <%= product.number_of_likers %><br/>
          Avg.Likeability: <%= product.average_likeability %><br/>
          Num.Reviews: <%= product.number_of_reviews %><br/>
        </td>
        <td> 
          <div class="action">
            <%= link_to 'New Product', new_product_path %>
          </div>
          <div class="action">
            <%= link_to 'Edit', edit_product_path(product) %>
          </div>
          <div class="action">
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <% if !@logged_in_user.blank? %>
            <%= form_for product.cart_items.build do |f| %>
              <%= f.hidden_field :product_id %>
              <%= f.submit "Add to Cart" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div dir="ltr">
  <%= paginate @products %>
</div>




