<%- model_class = Product.new.class -%>
<div class="page-header">
  <h2>מוצרים:</h2>
</div>

<div dir="ltr">
  <%= paginate @products %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
    </tr>
  </thead>
  <tbody>
    <% for product in @products %>
      <tr>
        <td><%= link_to h(product.name), product %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= image_tag product.image, :style => 'width: 160px; height: auto' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div dir="ltr">
  <%= paginate @products %>
</div>




